h1{
  color: darkblue;
  font-style: italic;
  font-size: 40 px;
  text-align: center;
  background-color: grey;
}
h2{
  font-style: italic;
  font-size: 40 px;
  color: darkblue;
  text-align: center;
  background-color: grey;
}
body{
  background-color: pink;
}
img{
  float: left;
  width: 20%;
  height: 20%;
}
p.intro{
  font-size: 25px;
}
#line1{
  font-size: 25px;
}
p.line2{
  font-size: 25px;
}
li.list{
  font-size: 25px;
  color: grey;
}
.box{
  border: 5px grey;
}
